#skills {
  color: white;
  margin: 20vh auto;
}

.skills__container {
  /* list-style-type: none; */
  margin: auto;
}

.skills__item {
  display: inline-block;
  justify-content: top;
  vertical-align: middle;
}
