#skills {
  color: white;
  margin: 20vh auto;
  height: 100vh;
}

.skills__container {
  margin: auto;
  vertical-align: top;
}

.skills__item {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 1024px) {
  #skills{
    height: auto;
  }
}
