#my-projects {
  padding: 2rem;
  margin: 10vh auto;
}

#my-projects > h1 {
  color: white;
}

.projects {
  margin: auto;
  display: table;
  border-spacing: 1rem;
}

@media screen and (max-width: 1024px) {
  .projects {
    display: block;
  }
}
