.project__container {
  background-color: var(--container-background-color);
  display: table-cell;
  padding: 0 2rem 2rem 2rem;
  margin: 1rem;
  width: 35vw;
  height: 100%;
  border-radius: var(--box-border-radius);
  box-shadow: var(--box-shadow);
  justify-content: center;
  vertical-align: middle;
}

.project__title {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.project__image {
  display: block;
  margin: auto;
}

.project__description {
  color: white;
}

@media screen and (max-width: 1024px) {
  .project__container{
    display: block;
    width: 90vw;
    margin: 5vh auto;
    padding: 3vh 2vw;
  }
  .project__image {
    display: block;
    width: 100%;
  }
}
