.nav-bar__container {
  background: #272727;
  margin: 0 auto;
}

.nav-bar__menu {
  position: fixed;
  left: 50%;
  /* transform: translate(-50%, 0); */
  background: #272727;
  opacity: 0.4;
  padding: 0.5rem;
  bottom: 2rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 1rem;
}

.nav-bar__menu:hover {
  opacity: 0.8;
}
@media (max-width: 1024px) {
  .nav-bar__menu {
    font-size: 1rem;
    padding: 2vw;
    bottom: 0%;
  }
}
