.nav-bar__item {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline;
  padding: 0 0.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.nav-bar__item:hover {
    color: #fddb3a;
}

@media (max-width: 1024px) {
  .nav-bar__item {
    font-size: 1rem;
  }
}