.button {
  padding: 0.5rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: var(--box-border-radius);
  box-shadow: var(--box-shadow);
  background: #0066ed;
  border-color: #98b1ff;
  color: white;
  cursor: pointer;
}

.button:hover {
  background: #00669c;
}
