.input {
    border-radius: 0.5rem;
    background: transparent;
    border-width: 4px;
    border-color: #4483d6;
    resize: none;
    color: white;
    margin: 1rem 0;
    padding: 1rem;
}

.input:focus {
    outline: none
}

@media(max-width: 1024px) {
  .input{
    margin: 1rem 0;
    padding: 1.5rem 1rem;
  }
}
