.text-area {
    border-radius: 0.5rem;
    background: transparent;
    border-width: 4px;
    border-color: #4483d6;
    resize: none;
    color: white;
    margin: 1rem 0;
    padding: 1rem;
    height: auto;
}

.text-area::placeholder{
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}


.text-area:focus {
    outline: none
}

@media(max-width: 1024px) {
  .text-area{
    margin: 1rem 0;
    padding: 1.5rem 1rem;
  }
}
